.App {
  text-align: center;
}

.App-logo {
  animation: opacity-easeInOutBounce infinite 5s linear alternate;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.loading-button { 
  animation: undefined-easeInOutBounce 1s cubic-bezier(0.1,0.25,0.1,1) 0s infinite alternate both; 
 }

 @keyframes opacity-easeInOutBounce {
	0% {
		opacity: 1;
	}

	2% {
		opacity: 0.99;
	}

	4% {
		opacity: 1;
	}

	10% {
		opacity: 0.97;
	}

	14% {
		opacity: 0.99;
	}

	22% {
		opacity: 0.88;
	}

	32% {
		opacity: 0.99;
	}

	42% {
		opacity: 0.6;
	}

	50% {
		opacity: 0.5;
	}

	58% {
		opacity: 0.4;
	}

	68% {
		opacity: 0.01;
	}

	78% {
		opacity: 0.12;
	}

	86% {
		opacity: 0.01;
	}

	90% {
		opacity: 0.03;
	}

	96% {
		opacity: 0;
	}

	98% {
		opacity: 0.01;
	}

	100% {
		opacity: 0;
	}

}

 @keyframes scale-easeInOutBounce {
	0% {
		transform: scale(1);
	}

	2% {
		transform: scale(0.99);
	}

	4% {
		transform: scale(1);
	}

	10% {
		transform: scale(0.97);
	}

	14% {
		transform: scale(0.99);
	}

	22% {
		transform: scale(0.88);
	}

	32% {
		transform: scale(0.99);
	}

	42% {
		transform: scale(0.6);
	}

	50% {
		transform: scale(0.5);
	}

	58% {
		transform: scale(0.4);
	}

	68% {
		transform: scale(0.01);
	}

	78% {
		transform: scale(0.12);
	}

	86% {
		transform: scale(0.01);
	}

	90% {
		transform: scale(0.03);
	}

	96% {
		transform: scale(0);
	}

	98% {
		transform: scale(0.01);
	}

	100% {
		transform: scale(0);
	}

}

 @keyframes undefined-easeInOutBounce {
	0% {
		transform: translateX(0%);
	}

	2% {
		transform: translateX(-0.77%);
	}

	4% {
		transform: translateX(-0.33%);
	}

	10% {
		transform: translateX(-3%);
	}

	14% {
		transform: translateX(-0.98%);
	}

	22% {
		transform: translateX(-12.42%);
	}

	32% {
		transform: translateX(-1%);
	}

	42% {
		transform: translateX(-40.32%);
	}

	50% {
		transform: translateX(-50%);
	}

	58% {
		transform: translateX(-59.68%);
	}

	68% {
		transform: translateX(-99.01%);
	}

	78% {
		transform: translateX(-87.58%);
	}

	86% {
		transform: translateX(-99.02%);
	}

	90% {
		transform: translateX(-97%);
	}

	96% {
		transform: translateX(-99.67%);
	}

	98% {
		transform: translateX(-99.23%);
	}

	100% {
		transform: translateX(-100%);
	}

}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }

}

@keyframes bouncing{
  0%  { width: 0; box-shadow: 0 0 5px rgba(0,0,0,0.5); }
  100% { width: 500px; box-shadow: 0 50px 50px rgba(0,0,0,0.1); }
}
